@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Condiment&family=Ephesis&family=Griffy&family=Meow+Script&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oregano:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Quicksand:wght@300..700&family=Radley:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tagesschrift&family=Zen+Antique+Soft&display=swap');

body {
  background: pink;
  background-image: url('/public/shelliobg.jpg');
  justify-content: center;
  align-items: center;
  font-family: 'Bonheur Royale', sans-serif, cursive;
  color: rgb(93, 141, 173);

}
nav {
  color: rgb(94, 152, 179);
  background: rgba(218, 159, 181, 0.3);
  display: flex;
  padding: 0 21px;
  justify-content: space-between;
}
nav ul {
  justify-content: center;
  display: flex;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
/*
 .about-bg {
 /* background-image: url('/public/shellioabout.png');*
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   
  color: rgb(165, 111, 12);
}
.home-bg {
  /*background-image: url('/public/shelliohome.png');*
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(165, 111, 12);
}*/
nav ul li a {
  margin: 0;
}

nav ul li a img {
  width: 25%;
  height: auto;
  display: block;
  margin-top: 1.5rem;
  margin-left: 1rem;
}
img a.home-bg {
  background-size: 12px;
}
nav ul li {
  list-style: none;
  font-size: 1.85rem;
  text-decoration: dashed underline;
  display: flex;
}
.videos-collection {
  display: grid;
  place-content: center;
  align-items: center;
  justify-content: center;
  left: 0;
  background: transparent;
  z-index: 10;
}
.videos-card {
  border-radius: 21px;
}
.videos-section {
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
h2 {
  text-align: center;
  background: rgba(26, 26, 175, 0.3);
  border-radius: 0.5rem;
  height: 3rem;
  color: rgb(97, 41, 58);
  font-size: 1.7rem; 
}
p {
  color: rgb(70, 42, 6);
  text-align: center;
  background: rgba(206, 24, 94, 0.2);
  border-radius: 0.3rem;
  font-size: 1.53rem;
}
.scroll-text {
  font-size: 2.3rem;
  color: rgb(79, 138, 165);
  background: transparent;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

footer {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.1rem;
  background: rgb(218,159,181,0.3);
  justify-content: space-between;
  gap: 3rem;
}

.audio {
  align-items: center;
  justify-content: center;
  display: flex;
}